@import url('style.css');

@media (max-width:1400px) {
    body {
        background-size: 900px 800px;

    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .card {
        width: 100%;
        padding: 56px 21px 32px 32px;
    }


}



@media (max-width:1090px) {



    main,
    header {
        padding: 0 3rem;

    }

    .main-heading {
        font-size: var(--Heading-L);
        line-height: var(--Heading-L-line);
    }



    body {
        background-image: url(assets/image-hero-tablet.png);
        background-repeat: no-repeat;
        background-position: right -300px top -100px;
        background-size: 695px 723px;
    }


    .cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 56px 10px;
        margin: auto;
    }

    .card {
        /* width: 350px; */
        width: 100%;
        padding: 56px 21px 32px 32px;

    }

    .card1-txt {
        font-size: 24px;
        line-height: 32px;
    }

    .card-head {
        margin-top: -75px;
        margin-bottom: 16px;
    }


    footer {
        padding: 2.6rem 3rem;
    }


}

.hero-mobile {
    display: none;
}

.art-div-one {
    margin-top: 100px;
}


.logo {
    font-size: 28px;
    line-height: 35.28px;

}

.button1,
.button2,
.button3 {
    font-size: 16px;
    line-height: 28px;
}




@media (max-width:700px) {
    body {
        background-image: none;
        overflow-x: hidden;
    }

    .card {
        width: 100%;
    }

    .card1 {
        padding: 24px 29px 32px 28px;

    }

    .card1-txt {
        margin-bottom: 32px;
    }

    .article {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .art-div-one {
        margin-top: 30px;
        width: 100%;
    }

    .art-div-two {
        align-items: center;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hero-mobile {
        display: block;
        background-repeat: no-repeat;
        width: 375px;
        padding: 1%;
        width: 95%;
    }

    footer,
    main,
    header {
        padding: 1.1rem 1rem;
    }

    .cards {

        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 0.5fr repeat(5, 1fr);
        gap: 40px 0px;
        /* margin: auto; */
    }

    .card-p1 {
        margin-bottom: 24px;
    }

    footer {
        margin-top: 80px;
        width: 100%;
    }
}